doctype
html
  head
    include ./partials/_head.pug
    title Welcome | David Jones

  body
    include ./partials/_header.pug

    .archive-container.container.context

    include ./partials/_footer.pug
