footer.footer-container
  .container
    .about
      a.link(href='https://github.com/DavidKk', title='Github', target='_blank')
        i.fa.fa-github-alt
      a.link(href='http://codepen.io/DavidJones', title='CodePen', target='_blank')
        i.fa.fa-codepen
      a.link(href='https://twitter.com/Mr_DavidJones', title='Twitter', target='_blank')
        i.fa.fa-twitter
      span
        i.fa.fa-heart
      a.link(href='https://plus.google.com/u/0/111899862347999076942', title='Google Plus', target='_blank')
        i.fa.fa-google-plus
      a.link(href='http://weibo.com/307853201', title='微博', target='_blank')
        i.fa.fa-weibo
      a.link(href='mailto:qowera@qq.com', title='E-Mail')
        i.fa.fa-envelope-o

    p.copyright.clearfix
      | Powered by&nbsp;
      a(href='/') davidkk.com
      | &nbsp;&copy; 2016
      | ,&nbsp;
      a(href='/static/sitemap.xml', title='Sitemap') Sitemap
