#uyan_frame
script.
  !(function() {
    var ds = document.createElement('script')
    ds.type = 'text/javascript';ds.async = true
    ds.src = 'http://v2.uyan.cc/code/uyan.js?uid=1832206'
    ds.charset = 'UTF-8'

    !(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds)
  })()
