header.header-container
  .container
    a.brand(href='/', title='blog.davidkk.com') dBLog

    nav.nav
      //- a(href='//about.davidkk.com', title='about', target='_blank') About
      //- a(href='//portfolio.davidkk.com', title='portfolio', target='_blank') Portfolio
      a(href='/tag/index.html', title='tags') Tags
      a(href='/archive/index.html', title='archive') Archives
