doctype
html
  head
    include ./partials/_head.pug
    title Welcome | David Jones

  body
    include ./partials/_header.pug

    .archive-container.container.context
      .archive-group
        h1 Blog Posts

        - let i = 0;
        each category, name in categories
          .archive
            h3.archive-heading
              a(href= categoryLinks[i], title= name)= name

            .archive-body
              for article, index in category
                .archive-article
                  a.archive-article-title(href= articleLinks[i][index], title= article.title)= article.title
                  span.archive-article-date &nbsp;&nbsp;-&nbsp;&nbsp;#{new Date(article.date).toLocaleString('en-US', { hour12: false })}
          - i ++;

    include ./partials/_footer.pug
    script(src='scripts/index.js')