doctype
html
  head
    include ./partials/_head.pug
    title Welcome | David Jones
    link(rel='stylesheet', href='styles/bootstrap.css')

  body
    include ./partials/_header.pug

    .index-container.container.context
      .entry-group
        each article in articles
          section.entry
            h3.entry-title
              a(href= '/article/get/' + encodeURIComponent(article.title), title= article.title)= article.title
            .entry-infobar
              if article.category
                .category
                  i.fa.fa-sticky-note-o
                  a(href= '/article/list/category/' + encodeURIComponent(article.category), title= article.category)= article.category

              if article.tags
                .tags
                  i.fa.fa-tags
                  each tag in article.tags
                    a(href= '/article/list/tags/' + encodeURIComponent(tag), title= tag)= tag

              if article.date
                time.date
                  i.fa.fa-calendar-o
                  span= new Date(article.date).toLocaleString('en-US', { hour12: false })

            section.entry-content
              .content.clearfix.
                !{article.summary}

            .entry-more
              a.btn(href= '/article/get/' + encodeURIComponent(article.title), title='Continue Reading') Continue Reading

      nav.pagination
        ul.pagination-book
          if 1 < page.pages[0]
            li
              a(href='/article/page/1.html', title='1') 1

          if 2 < page.pages[0]
            li ...

          for index in page.pages
            if index === page.current
              li.active
                a(title='Currrent page')= index
            else
              li
                a(href= '/article/page/' + index + '.html', title= index)= index

        if page.current < page.pages.slice(-1)[0]
          a.pagination-addon(href= '/article/page/' + (page.current + 1) + '.html', title='Show me more') Show me more

    include ./partials/_footer.pug
    script(src='scripts/index.js')
