doctype
html
  head
    include ./partials/_head.pug
    title Welcome | David Jones

  body
    include ./partials/_header.pug

    .tag-container.container.context
      .tag-group
        h1 Posts' Tags
        ul.tag-block
          - let i = 0;
          for articles, name in tags
            li
              a(href= tagLinks[i], title= name)
                .text= name
                  span= articles.length

                b(style= `width:${articles.length / totalSize * 100}%;`)
                  i

            - i ++;

    include ./partials/_footer.pug
    script(src='scripts/index.js')
