
/**
 * 链接
 */

$link-color:                    $text-color-base !default;                 // 默认链接颜色
$link-hover-color:              $theme-color !default;
$link-decoration:               none !default;
$link-hover-decoration:         inherit !default;
